<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/books">Home</a>
    <a href="add_book_and_review">Add Book and Review</a>
    <a href="/logOut">Logout</a>
    <h2>Alias: {{user.alias}}</h2>
    <h2>Name: {{user.name}}</h2>
    <h2>Email: {{user.email}}</h2>
    <h2>Reviews: {{user.submitted_reviews.all|length}}</h2>
    <h2>Posted Reviews on the following books:</h2>
        {% for book in unique_book %}
            <p><a href="/book/{{book.id}}">{{book.title}</a></p>
        {% endfor %}
</body>
</html>